*{
    margin: 0px;
    padding: 0px;
}

.dropdown {
  width: 200px;
  float: right;
  padding-top: 20px;


}

.containerprofile {

}

#list{
    width: 150px;
    background-color: #fff;
}

.button {
  background-color: #354248;
  color: white;
  cursor: pointer;
  width: 75px;
  height: 70px;
  border: 0px;
}

.ddimage{
    float: right;
    padding-right: 7px;
    padding-left: 0px;
}

.ddimage1{
    float: right;
    margin-top: 4px;
    margin-right: 5px;
}


ul {
    list-style:  none;
}

li {
  padding: 8px 12px 8px 0px ;
  color: black;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
