/*footer*/

footer{
margin-top:20px;
color:black;
background:#354248;
text-align:left;
font-size:20px;
padding: 13px;	
width: 97.9825%;
}
.CR{
float: left;
width : 92%;
}
.class{
float: right;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 20px;
margin-right: 0px;
padding-left: 30px;
}