footer{
padding-bottom: 50px;
padding-top: 30px;
margin-top: 0px;
background:#354248;
}
.CR{
float: left;
color: #807E7E;
font-size: 19px;
margin-left: 20px;
background:#354248;
}
.social .gmail{
  float:right;
  background:#354248;
  padding-right: 70px;
}
.social .twitter{
  float:right;
  background:#354248;
  padding-right: 20px;
}
.social .facebook{
  float:right;
  background:#354248;
  padding-right: 20px;
}
