body{
	font-family: sans-serif;
	font-size: 15px;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}


/* Global */
.container {
	width:100%;
	margin:auto;
	overflow:hidden;
}
ul{
	padding:0;
	margin:0;
}
a{
	text-decoration: none;
}



/* Header */
header{
	background:#354248;
	color:#ffffff;
	padding-top:30px;
	min-height:60px;
	border-bottom:#e8491d 3px solid;
}
.profile {
	float: right;
	margin-top: 30px;
	margin-right:30px;

}
header #branding{
	float:left ;
	padding-bottom: 0px;
	margin-left: 270px;
}
header #branding h1{
	font-weight: bolder;
	font-size: 55px;
}




/* Showcase */
#showcase {
box-sizing:border-box;
background-image: url(https://images.unsplash.com/photo-1528298936130-dace32e4221c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
min-width:80%;
min-height:800px;
padding:3px;
border:1px solid black;
background-size: 100% 100%;
text-align:center;
}


/*text*/
#text {
	padding-top:500px;
	color:#ffffff
}
#text h1, #text h2{
	text-align:center;
	font-weight: bold;
}
#text h1{
	font-size: 63px;
}
#text h2{
	font-size: 51px;
}
